
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @user.email %> welcome to this site</h1>
<p>
  you could signup example.com as temporary.
  your username is: <%= @user.email %>.<br>
</p>
<p>
  If you want to finish to signup this account,
  please click <%= @url %> this url.
</p>
<p>Best regards</p>
</body>
</html>