<div>
    <p><span id="email_error" class="red"></span></p>
    <p><label>email</label>
    <input type="email" name="email" value="" id="email" /></p>
    <p><span id="password_error" class="red"></span></p>
    <p><label>password</label>
    <input type="password" name="password" value="" id="password" /></p>
    <p><span id="password_confirm_error" class="red"></span></p>
    <p><label>password confirm</label>
    <input type="password" name="password_confirm" value="" id="password_confirm"/></p>
    <p><input type="submit" class="signupConfirm" value="register"/></p>
</div>