ul
    li
        a.home(href="/") home
    li
        a.blog(href="/#blog/") blog
    if(authorization)
        li
            a.logout(href="/#logout/") logout
    else
        li
            a.login(href="/#login/") login
