p
    span#email_error.red
p
    label="email"
    input#email(type="email" name="email" value="")
p
    span#password_error.red
p
    label="password"
    input#password(type="password" name="password" value="")
p
    input.loginConfirm(type="submit" value="login")
p="Do you not have account?"
p="Please sing up "
    a(href="/#signup/") here
