p
    span#email_error.red
p
    label="email"
    input#email(type="email" name="email" value="")
p
    span#password_error.red
p
    label="password"
    input#password(type="password" name="password" value="")
p
    span#password_confirm_error.red
p
    label="password"
    input#password_confirm(type="password" name="password_confirm" value="")
p
    input.signupConfirm(type="submit" value="signup")
